<div class="custom-navbar">
  <!-- Logo Section -->
  <div class="custom-logo">
    <%= link_to root_path do %>
      <%= image_tag "bikelogo.jpg", alt: "Bike Logo", class: "brand-link" %>
    <% end %>
  </div>

  <!-- Navigation Links -->
  <ul class="nav-links">
    <li class="nav-item"><%= link_to "Home", root_path %></li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
      <ul class="dropdown-menu">
        <% Category.all.each do |category| %>
            <li><a href="#"><%= category.name %></a></li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dealer</a>
      <ul class="dropdown-menu">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Get-Quote</a></li>
      </ul>
    </li>
    <li class="nav-item"><a href="#">Accesories</a></li>
    <li class="nav-item"><a href="#">Services</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
  </ul>
  <!-- User Links - Login/Profile Section -->
  <ul class="user-links">
    <% if user_signed_in? %>
      <li class="user-item">
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link' %>
      </li>
    <% else %>
      <li class="user-item">
        <%= link_to 'Login', new_user_session_path, class: 'login-link' %>
      </li>
      <li class="user-item">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'signup-link' %>
      </li>
    <% end %>
  </ul>
</div>
