<div class="custom-navbar">
  <!-- Logo Section -->
  <div class="custom-logo">
    <%= link_to root_path do %>
      <%= image_tag "bikelogo.jpg", alt: "Bike Logo", class: "brand-link" %>
    <% end %>
  </div>

  <!-- Navigation Links -->
  <ul class="nav-links" id="navbarMenu">
    <li class="nav-item"><%= link_to "Home", root_path %></li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#" role="button">Inventory</a>
      <ul class="dropdown-menu">
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#" role="button">Dealer</a>
      <ul class="dropdown-menu">
        <li><%= link_to "Reviews", reviews_path %></li>
        <li><a href="#">Get-Quote</a></li>
      </ul>
    </li>
    <li class="nav-item"><a href="#">About Us</a></li>
    <li class="nav-item"><a href="#">Services</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
  </ul>

  <!-- User Links -->
  <ul class="user-links" id="userMenu">
    <% if user_signed_in? %>
      <li class="user-item">
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-link" %>
      </li>
    <% else %>
      <li class="user-item">
        <%= link_to "Login", new_user_session_path, class: "login-link" %>
      </li>
      <li class="user-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "signup-link" %>
      </li>
    <% end %>
  </ul>
  <!-- Hamburger Icon for Mobile -->
  <div id="hamburger-icon">
    <i class="fa-solid fa-bars"></i>
  </div>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburgerIcon = document.getElementById("hamburger-icon");
    const navbarMenu = document.getElementById("navbarMenu");
    const userMenu = document.getElementById("userMenu");

    // Attach event listener to the hamburger icon
    hamburgerIcon.addEventListener("click", function () {
      // Toggle visibility for nav and user menus
      navbarMenu.classList.toggle("show");
      userMenu.classList.toggle("show");

      // Add 'active' class to animate the hamburger icon
      this.classList.toggle("active");
    });
  });
</script>
