<section class="hero">
  <div class="hero-text">
    <h1>Looking to Purchase Bikes with Unmatched Quality?</h1>
    <p>Find the best ATVs for sale, including the latest models from Honda, Can-Am, and Polaris.</p>
    <%# <p>Perfect for off-road adventures and utility work.</p> %>
    <p>Explore our collection of new and used ATVs, all available at competitive prices.</p>
  </div>
  <%= render "shared/search_form" %>
</section>
<%= render "shared/categories" %>
<h1 class="suggested-bikes-title">Bikes & ATVs for Sale</h1>
<div class="bike-container" id="bikes-section" data-controller="scroll"
  data-scroll-target="bikeSection"
  <%= @search_performed ? '' : 'style="display: none;"' %>>
  <% @bikes.each do |bike| %>
    <div class="bike-card">
      <%= link_to bike_path(bike) do %>
        <div class="bike-image">
          <% if bike.photos.first.present? %>
            <%= image_tag bike.photos.first, height: 300, width: 400, crop: :fill, alt: bike.model %>
          <% else %>
            <%= image_tag 'san_francisco.jpg', height: 300, width: 400, crop: :fill, alt: 'Default bike image' %>
          <% end %>
        </div>

        <div class="bike-info">
          <h3 class="bike-title"><%= bike.model %></h3>
          <% if bike.category.name == "Electric" %>
            <p><strong>Make: </strong><%= bike.make %></p>
          <% else %>
            <p><strong>Make: </strong><%= bike.brand.name %></p>
          <% end %>
          <p><strong>Price: </strong><%= number_to_currency(bike.price) %></p>
          <p><strong>Engine: </strong><%= bike.engine_capacity %> CC</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <% @e_bikes.each do |bike| %>
    <div class="bike-card">
      <%= link_to bike_path(bike) do %>
        <div class="bike-image">
          <% if bike.photos.first.present? %>
            <%= image_tag bike.photos.first, height: 300, width: 400, crop: :fill, alt: bike.model %>
          <% else %>
            <%= image_tag 'san_francisco.jpg', height: 300, width: 400, crop: :fill, alt: 'Default bike image' %>
          <% end %>
        </div>

        <div class="bike-info">
          <h3 class="bike-title"><%= bike.model %></h3>
          <% if bike.category.name == "Electric" %>
            <p><strong>Make: </strong><%= bike.make %></p>
          <% else %>
            <p><strong>Make: </strong><%= bike.brand.name %></p>
          <% end %>
          <p><strong>Price: </strong><%= number_to_currency(bike.price) %></p>
          <p><strong>Engine: </strong><%= bike.engine_capacity %> CC</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<!-- Articles section -->
<%= render "shared/articles" %>
<!-- Reviews Section -->
<div class="container">
  <div class="bike-reviews">
    <h2>Reviews</h2>

    <% if @reviews.any? %>
      <%# Calculate the average rating and display it as stars %>
      <% average_rating = @reviews.average(:rating).to_f.round(1) %>
      <p>Average Rating:
        <% (1..5).each do |star| %>
          <i style="color: #ffcc00" class="fa stars <%= average_rating >= star ? 's' : 'r' %> fa-star"></i> <!-- filled or regular star -->
        <% end %>
        (<%= average_rating %> based on <%= @reviews.count %> reviews)
      </p>

      <% @reviews.each do |review| %>
        <div class="review">
          <p><strong><%= review.reviewer_name %></strong> - <%= review.rating %>/5</p>
          <p><%= review.content %></p>
          <%# Display rating as stars %>
          <p>
            <% (1..5).each do |star| %>
              <i style="color: #ffcc00" class="fa stars<%= review.rating >= star ? 's' : 'r' %> fa-star"></i> <!-- filled or regular star -->
            <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
  </div>
</div>
<% if @scroll_to_bikes %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Scroll to the bikes section
      const bikesSection = document.getElementById('bikes-section');
      if (bikesSection) {
        bikesSection.scrollIntoView({ behavior: 'smooth' });
      }
      bikesSection.style.transition = 'background-color 0.5s';
    bikesSection.style.backgroundColor = '#fffae6'; // Highlight color
    setTimeout(() => {
      bikesSection.style.backgroundColor = ''; // Remove highlight
    }, 1500);
    });
  </script>
<% end %>
