<!-- Main Image Section -->
<div class="bike-container">
  <!-- Bike Slider Section -->
  <div class="bike-slider">
    <div class="slider-container">
      <div class="bike-main-image">
        <% if @bike.photos.attached? %>
          <% @bike.photos.each_with_index do |photo, index| %>
            <div class="mySlides">
              <div class="numbertext">
                <i class="fa-solid fa-camera"></i> <%= index + 1 %>/<%= @bike.photos.count %>
              </div>
              <%= cl_image_tag photo.key, alt: @bike.model, class: "main-image" %>
            </div>
          <% end %>
        <% end %>

        <!-- Navigation buttons -->
        <div class="slider-nav">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
      </div>
    </div>

    <!-- Bike Gallery -->
    <div class="bike-gallery">
      <% if @bike.photos.attached? %>
        <div class="thumbnails">
          <% @bike.photos.each_with_index do |photo, index| %>
            <% next if index == 0 %> <!-- Skip the first image -->
            <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill, class: "thumbnail", onclick: "currentSlide(#{index + 1})" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Order Form Section -->
  <div class="bike-form">
    <%= simple_form_for [@bike, @order],
      local: true,
      data: { controller: "loading", action: "submit->loading#showSpinner" },
      html: { class: "custom-bike-form" } do |form| %>

      <h1 class="bike-show-title"><%= @bike.model %></h1>
      <h1 class="bike-show-title"><%= number_to_currency(@bike.price) %></h1>

      <% if @order.errors.any? %>
        <div class="error-messages alert alert-danger">
          <h3>There were some errors with your order:</h3>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.number_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, min: 1, class: "form-control" %>
      </div>

      <div class="form-group submit-button">
        <%= form.button :submit, "Request Purchase Info", class: "btn btn-dark text-white" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Bike Information Section -->
<div class="bike-details">
  <table>
    <tr>
      <td><strong>Category:</strong></td>
      <td><%= @bike.category.name %></td>
    </tr>
    <tr>
      <td><strong>Brand:</strong></td>
      <td><%= @bike.brand.name %></td>
    </tr>
    <tr>
      <td><strong>Kilometers:</strong></td>
      <td><%= @bike.kilometers %> km</td>
    </tr>
    <tr>
      <td><strong>Purpose:</strong></td>
      <td><%= @bike.body %></td>
    </tr>
    <tr>
      <td><strong>Colour:</strong></td>
      <td><%= @bike.colour %></td>
    </tr>
    <tr>
      <td><strong>Engine Capacity:</strong></td>
      <td><%= @bike.engine_capacity %> cc</td>
    </tr>
    <tr>
      <td><strong>Fuel:</strong></td>
      <td><%= @bike.fuel_type %></td>
    </tr>
    <tr>
      <td><strong>Maximum Speed:</strong></td>
      <td><%= @bike.maximum_speed %> km/h</td>
    </tr>
    <tr>
      <td><strong>Registration Status:</strong></td>
      <td><%= @bike.registration_status %></td>
    </tr>
    <tr>
      <td><strong>Release Date:</strong></td>
      <td><%= @bike.last_modified %></td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= @bike.description %></td>
    </tr>
  </table>
<h2 class="mt-5">Features</h2>
<p><%= @bike.features %></p>


<div>
  <%= link_to bikes_path, class: "back-link" do %>
    <i class="fas fa-arrow-left"></i> Back to Bikes
  <% end %>

  <%= link_to edit_bike_path(@bike), class: "back-link" do %>
    <i class="fas fa-edit"></i> Edit Bike
  <% end %>

  <%= link_to bike_path(@bike), method: :delete, data: { confirm: 'Are you sure?' }, class: "back-link" do %>
    <i class="fas fa-trash-alt"></i> Delete
  <% end %>
</div>

</div>
<script>
let slideIndex = 1;
showSlides(slideIndex);

// Detect swipe gestures
let xDown = null;
let yDown = null;

document.getElementById("slider").addEventListener('touchstart', handleTouchStart, false);
document.getElementById("slider").addEventListener('touchmove', handleTouchMove, false);

function handleTouchStart(evt) {
  const firstTouch = evt.touches[0];
  xDown = firstTouch.clientX;
  yDown = firstTouch.clientY;
}

function handleTouchMove(evt) {
  if (!xDown || !yDown) {
    return;
  }

  let xUp = evt.touches[0].clientX;
  let yUp = evt.touches[0].clientY;

  let xDiff = xDown - xUp;
  let yDiff = yDown - yUp;

  if (Math.abs(xDiff) > Math.abs(yDiff)) { // Most significant movement
    if (xDiff > 0) {
      // Left swipe
      plusSlides(1);
    } else {
      // Right swipe
      plusSlides(-1);
    }
  }
  // Reset values
  xDown = null;
  yDown = null;
}

// Function to change slide
function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}

</script>
