<!DOCTYPE html>
<html>
  <head>
    <title>BikeSales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
      <%= render "shared/nav_bar" %>
      <%= render "shared/flashes" %>
    <%= yield %>
      <%= render "shared/footer" %>
  </body>
</html>
